.container {
  position: relative;
  width: 42px;
  height: 24px;
  border: 1.5px solid var(--secondary);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.icon {
  font-size: 12px;
}
.ball {
  border-radius: 50%;
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--secondary);
  transition: all 0.2s ease-in-out;
}