.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.input {
  width: 100%;
  outline: none;
  padding: 20px;
  background-color: transparent;
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
}

.container button {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.button {
  background-color: #53c28b;
}
.button:hover {
  color: var(--text);
}
.oAuth {
  background: var(--text);
  display: flex;
  gap: 20px;
  align-items: center;
}
.oAuth:hover {
  border: 1px solid var(--text);
  background: transparent;
  color: var(--text);
}
.loading {
  margin: 0 auto;
  animation: rotateAnimation 2s infinite linear;
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
